<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.4.7/css/foundation.css">
</head>
<body>

  <div ng-app="drinkApp">
    <div ng-controller="AppCtrl as appctrl">
        Ctrl
      <input type="text" ng-model="appctrl.ctrlFlavor">

      Dir
      <div drink flavor="appctrl.ctrlFlavor"></div>
    </div>
  </div>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>
</body>
</html>