<!DOCTYPE html>
<html ng-app="app">
<head>
<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body ng-controller="FirstCtrl as first">
<input type="text" ng-model="first.greeting.message">
<div>
  {{ first.greeting.message }} World
</div>
<div ng-controller="SecondCtrl as second">
  {{ second.greeting.message }} in Second
</div>
</body>
</html>