<!DOCTYPE html>
<html>
<head>
  <title>AngularJS Tutorials</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.4.7/css/foundation.css">
</head>
<body>

  <div ng-app="myApp">
    <div ng-controller="AvengersCtrl as avengersCtrl">
      <input type="text" ng-model="search.$">
      <table>
        <tr ng-repeat="actor in avengersCtrl.avengers.cast | filter:search">
            <td>{{actor.name}}</td>
            <td>{{actor.character}}</td>
        </tr>
      </table>
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
</body>
</html>