<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
  <title>What's new in Angular 1.3</title>
</head>
<body ng-app="app" ng-controller="MainCtrl">
  <h1>Angular {{angularVersion}}</h1>
  <h2>
    $scope.$watchGroup
    <small>by <a href="http://twitter.com/kentcdodds">@kentcdodds</a></small>
  </h2>
  <hr />
  
  <h2>Demo</h2>
  <label>
    Val 1:
    <input ng-model="val1" />
  </label>
  <br />
  <label>
    Val 2:
    <input ng-model="val2" />
  </label>
  <br />
  <label>
    Val 3:
    <input ng-model="val3" />
  </label>
  <br />
  <label>
    Val 4:
    <input ng-model="val4" />
  </label>

  <h3>NewVal</h3>
  <pre>{{newVal | json}}</pre>
  <h3>OldVal</h3>
  <pre>{{oldVal | json}}</pre>
  
</body>
</html>