<!DOCTYPE html>
<html ng-app="app" ng-controller="MainCtrl">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ORDERBOX</a>
    </div>
    <div id="navbar" class="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Quick Start</a></li>
        <li><a href="#about">Present Orders!</a></li>
        <li><a href="#contact">Past Orders</a></li>
        <li><a href="#contact">My Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Placing Orders, Taking Names</h1>
    <p>
      <a class="btn btn-lg btn-primary" role="button" ng-click="newOrder()">Place new order</a>
    </p>
  </div>

</div>

</body>
</html>