<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css"/>

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.js"></script>
  <script src="app.js"></script>

  <style>
    .well{
      border: 30px solid black;
    }
  </style>
</head>
<body ng-app="demo" class="container">

<div class="well" ng-controller="OuterCtrl as outer">
<h2>Outer {{ time | heavy}}</h2>

  <div class="well" ng-controller="MiddleCtrl as middle">
  <h2>Middle {{ time }}</h2>


    <div class="well" ng-controller="InnerCtrl as inner">
    <h2>Inner {{ time }}</h2>

      <digest-button></digest-button>
      <apply-button></apply-button>

    </div>

  </div>

</div>


</body>
</html>