<!DOCTYPE html>
<html ng-app="app">
<head>
<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/normalize.min.css" rel="stylesheet" type="text/css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/foundation.min.css" rel="stylesheet" type="text/css" />

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
  <title>AngularJS Tutorials</title>
  <link rel="stylesheet" href="vendor/foundation/foundation.min.css">
  <script type="text/javascript" src="main.js"></script>

  <style type="text/css">
    .Hello {
      color: red;
    }
  </style>
</head>
<body>

  <div>
    <!-- updated to use recommended 'controller as' approach -->
    <div ng-controller="FirstCtrl as first">
      <h1>{{first.data.message + " world"}}</h1>
      <div class="{{first.data.message}}">
        Wrap me in a foundation component
      </div>
    </div>
  </div>


</body>
</html>