<!DOCTYPE html>
<html ng-app="multiple-requests">
<head lang="en">
  <meta charset="UTF-8">
  <title>AngularJS Multiple HTTP Requests</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body ng-controller="AppCtrl as app">

<div class="container">
  <h2>{{app.angularInfo.name}}</h2>
  <div class="row">
    <div class="col-md-2">
      <img ng-src="{{app.angularInfo.avatarUrl}}" class="img-responsive"/>
    </div>
    <div class="col-md-10">
      <div class="col-md-6">
        <h3>Repos</h3>
        <div class="list-group">
          <a ng-repeat="repo in app.angularInfo.repos" class="list-group-item">
            {{repo.name}}
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Events</h3>
        <div class="list-group">
          <a ng-repeat="event in app.angularInfo.events" class="list-group-item">
            {{event.type}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>