<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css">
</head>
<body>

  <div ng-app="app">

    <input type="text" ng-model="model.title">
    <input type="text" ng-model="model.content">

    <zippy title="{{model.title}}">
        The content is: {{model.content}}
    </zippy>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>

</body>
</html>