<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body ng-app="app" ng-controller="AppCtrl as app">

  <button class="btn" ng-click="app.toggle=!app.toggle">Toggle Animation</button>

  <div class="toggle" ng-if="app.toggle">Some content here</div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular-animate.min_1.2.6.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>