<!DOCTYPE html>
<html>
<head>
  <title>AngularJS Tutorials</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.4.7/css/foundation.css">
</head>
<body>

  <div ng-app="myApp">
    <div ng-controller="FirstCtrl as firstCtrl">
      <input type="text" ng-model="firstCtrl.data.message">
      <h1>{{firstCtrl.data.message}}</h1>
    </div>

    <div ng-controller="SecondCtrl as secondCtrl">
      <input type="text" ng-model="secondCtrl.data.message">
      <h1>{{secondCtrl.data.message|reverse}}</h1>
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.js"></script>
</body>
</html>