<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css">
</head>
<body ng-app="app" ng-controller="AppCtrl as app">

  <button class="btn-primary" ng-click="app.fadeIt()">Click to fade</button>
  <div class="badge" hide-me="app.isHidden">Fade me</div>
  <div class="badge" hide-me="app.isHidden">Fade me</div>
  <div class="badge">Fade me</div>
  <div class="badge" hide-me="app.isHidden">Fade me</div>
  <div class="badge" hide-me="app.isHidden">Fade me</div>
  <div class="badge" hide-me="app.isHidden">Fade me</div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.11.2/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-animate.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>