<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href=""/>
</head>
<body>

<div ng-app="app" ng-controller="AppCtrl as app">
    <button ng-click="app.cancel()">Cancel</button>
    {{app.timerCount}}
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>