<!DOCTYPE html>
<html ng-app>
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <meta charset="utf-8">
  <title>Egghead Tutorials</title>

  <style type="text/css">
  	body {
	  padding: 10px;
	}
  </style>
  
</head>
<body>
  
  <input type="text" ng-model="first.greeting">
  <div ng-class="first.greeting">
    {{first.greeting}} {{"World"}}
    
  </div>

</body>
</html>