<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
  <script src="//rawgit.com/kentcdodds/ng-stats/master/ng-stats.js"></script>
  <title>Angular 1.3 Bindonce</title>
</head>
<body ng-app="app" ng-controller="MainCtrl as vm">
  <h1>Angular 1.3 Stateless Filter</h1>
  <div angular-stats
       watch-count=".watch-count"
       digest-length=".digest-length">
    <h2>Angular Stats</h2>
    Watch Count: <span class="watch-count"></span><br />
    Digest Cycle Length: <span class="digest-length"></span>
  </div>
  <hr />
  <h2>Demo</h2>
  <label>
    Total Items (watch count):
    <input type="number"
           ng-model="vm.itemCount"
           ng-change="vm.onItemCountChange(vm.itemCount)" /> items
  </label>
  <br />
  <label>
    Filter Wait (digest length):
    <input type="number"
           ng-model="vm.timer.wait" /> milliseconds
  </label>
  <br />
  <br />
  
  <div ng-repeat="item in vm.totalItems"
       class="item"
       ng-class="{'hovering': vm.hovering[item]}"
       ng-mouseenter="vm.hovering[item]=true"
       ng-mouseleave="vm.hovering[item]=false">
      {{item | longFilter:vm.timer.wait}}
  </div>
  
</body>
</html>