<!DOCTYPE html>
<html>
<head>
  <title>AngularJS Tutorials</title>
  <link rel="stylesheet" href="vendor/foundation/foundation.min.css">
</head>
<body>

  <div ng-app="app">
    <input type="text" ng-model="data.message">
    <h1>{{data.message}}</h1>

    <div ng-controller="FirstCtrl as first">
      <input type="text" ng-model="first.message">
      <h1>{{first.data}}</h1>
    </div>

    <div ng-controller="SecondCtrl as second">
      <input type="text" ng-model="second.message">
      <h1>{{second.data}}</h1>
    </div>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>