<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.4.7/css/foundation.css">
</head>
<body>

  <div ng-app="myApp">
    <div ng-controller="AvengersCtrl">
      <input type="text" ng-model="search.$">
      <table>
        <tr ng-repeat="actor in avengers.cast | orderBy:'name' | limitTo:5 | filter:search">
            <td>{{actor.name | lowercase}}</td>
            <td>{{actor.character | uppercase}}</td>
        </tr>
      </table>
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
</body>
</html>