<!DOCTYPE html>
<html>
<head>
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
  <title>What's new in Angular 1.3</title>
</head>
<body ng-app="app" ng-controller="MainCtrl as vm">
  <h1>Angular {{vm.angularVersion}}</h1>
  <h2>
    $q constructor
    <small>by <a href="http://twitter.com/kentcdodds">@kentcdodds</a></small>
  </h2>
  <hr />
  <button ng-click="vm.fire(false)">Resolve Async</button>
  <button ng-click="vm.fire(true)">Reject Async</button>
  
  <h3>Last Resolved Value</h3>
  <pre>{{vm.resolvedValue | json}}</pre>
  
  <h3>Last Rejected Value</h3>
  <pre>{{vm.rejectedValue | json}}</pre>
  
</body>
</html>