<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
  <title>What's new in Angular 1.3</title>
</head>
<body ng-app="app" ng-controller="MainCtrl as vm">
  <h1>Angular {{vm.angularVersion}}</h1>
  <h2>
    ngModelOptions
    <small>by <a href="http://twitter.com/kentcdodds">@kentcdodds</a></small>
  </h2>
  <hr />
  
  <h2>Demo</h2>
  
  
  <form name="myForm" novalidate>
    <label>
      Some input:
      <input
             type="email"
             name="myField" 
             ng-model="vm.inputValue"
             ng-model-options="vm.modelOptions"
             required />
      
    </label>
    <button type="submit">Submit</button>
  </form>
    
  Bound value: <span ng-bind="vm.inputValue"></span> <br />
  Field Error State: <pre>{{myForm.myField.$error | json}}</pre> <br />
  Form Error State: <pre>{{myForm.$error | json}}</pre>
  myForm.$submitted: {{myForm.$submitted}}
  
</body>
</html>