<!DOCTYPE html>
<html>
<head>
    <title>Egghead.io</title>
    <link rel="stylesheet" href="bower_components/bootstrap.css/css/bootstrap.css"/>
</head>
<body ng-app="egghead" custom-controller="AppCtrl as app">

<div custom-controller="FirstCtrl as first" class="well">
    {{first.message}}
</div>

<div custom-controller="SecondCtrl as second" class="well">
    {{second.message}}
</div>



<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>