<!doctype html>
<html lang="en" ng-app="APP">
<head>
    <meta charset="UTF-8">
    <title>angular file upload</title>
</head>
<body>
    <form ng-controller="uploader">
        <input type="file" 
        	file-input="files"
        	multiple />
        <button ng-click="upload()">Upload</button>
        <li ng-repeat="file in files">{{file.name}}</li>
    </form>
    <script src="http://code.angularjs.org/1.2.2/angular.min.js"></script>
    <script>
    angular.module('APP', []).
    directive('fileInput',['$parse',function($parse){
    	return {
    		restrict:'A',
    		link:function(scope,elm,attrs){
    			elm.bind('change',function(){
    				$parse(attrs.fileInput)
    				.assign(scope,elm[0].files)
    				scope.$apply()
    			})
    		}
    	}
    }]).
    controller('uploader', ['$scope', '$http',
        function($scope, $http) {
        		$scope.filesChanged = function(elm){
        			$scope.files=elm.files
        			$scope.$apply();
        		}
            $scope.upload = function() {
            		var fd = new FormData()
            		angular.forEach($scope.files,function(file){
            			fd.append('file',file)
            		})
                $http.post('upload', fd,
              	{
              		transformRequest:angular.identity,
              		headers:{'Content-Type':undefined}
              	})
                .success(function(d) {
                    console.log(d)
                })
            }
        }
    ])
    </script>
</body>
</html>
