<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.4.7/css/foundation.css">
</head>
<body style="padding: 20px 20px;">

  <div ng-app="app" ng-controller="foo">
    <div class="button"
        ng-repeat="item in 'somewrd'.split('') track by $index"
        ng-click="myFunc($event)">
        {{$index + 1}}. {{item}}
        {{ev.pageX}}
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
</body>
</html>