<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Egghead Videos</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.4.7/css/foundation.css">
</head>
<body style="padding: 20px 20px;">

  <div ng-app="app" ng-controller="RoomCtrl as room">
    <div class="button" ng-click="room.openDoor()">
        {{room.buttonTitle}}
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
</body>
</html>
